[Unit]
Description=Bokeh server instance
After=network.target

[Service]
User=root
Group=root
ExecStart=/root/anaconda3/bin/bokeh serve /root/bokeh-server-table/app --port 5100 --host 104.131.166.196:80

[Install]
WantedBy=multi-user.target